[submodule "webots/robot_modules"]
	path = webots/robot_modules
	url = https://github.com/egd060708/robot_models.git
[submodule "libs/observer"]
	path = libs/observer
	url = https://github.com/egd060708/observer_module.git
[submodule "libs/other"]
	path = libs/other
	url = https://github.com/egd060708/other_module.git
[submodule "libs/controller_module"]
	path = libs/controller_module
	url = https://github.com/egd060708/controller_module.git
